body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-style: normal;
}
ul {
    list-style: none;
}
#nav {
    background: lightgray;
    overflow: auto;
}
#nav li {
    float: left;
    padding: 10px;
}
#nav li:hover {
    background: gray;
}