@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Roboto:wght@100&display=swap");

:root {
  --font-fam-ui: "Roboto", sans-serif;
  --font-fam-shop-list: "Nanum Pen Script", cursive;
  --color-main: #9ab;
  --color-item: #fff8;
  --color-item-hover: #fff5;
  --color-button: #bbb8;
  --color-button-hover: #bbb5;
  --color-button-focus: #bbb;
  --color-button-shadow: rgba(0, 0, 0, 0.18);
  --color-button-text: #333;
  --width-container-main: 16rem;
  --border-radius-buttons: 0.2rem;
  --gap-size: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-main);
}

.container-main {
  font-family: var(--font-fam-ui);
  width: var(--width-container-main);
  margin: 0 auto;
  padding: 1rem;
}

.container-main h1 {
  text-align: center;
}

.container-main form {
  padding-top: var(--gap-size);
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

.container-main input {
  font-family: var(--font-fam-shop-list);
  padding: 0 var(--gap-size);
  border-radius: var(--border-radius-buttons);
  border: 0;
  outline: 0;
  font-size: 1rem;
}

.container-main ul {
  font-family: var(--font-fam-shop-list);
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
}

.container-main li {
  background-color: var(--color-item);
  text-align: center;
  padding: 0 var(--gap-size);
  border-radius: var(--border-radius-buttons);
}

.container-main li:hover {
  background-color: var(--color-item-hover);
}

.container-main .button-box {
  align-self: flex-end;
  display: flex;
  gap: var(--gap-size);
}

.buttons {
  border-radius: var(--border-radius-buttons);
  background-color: var(--color-button);
  border: none;
  box-shadow: 0 3px 5px var(--color-button-shadow);
  width: 4rem;
  font-size: 0.6rem;
  padding: 0.25rem;
  color: var(--color-button-text);
  cursor: pointer;
}

.buttons:hover {
  background-color: var(--color-button-hover);
}

.buttons:active {
  background-color: var(--color-button-focus);
}
