@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Roboto:wght@100&display=swap");

:root {
  --font-fam-title: "Roboto", sans-serif;
  --font-fam-body: "Nanum Pen Script", cursive;
  --color-main: #9ab;
  --color-background: #fff8;
  --width-main-list: 190px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-fam-title);
  background-color: var(--color-main);
}

.main-list input {
  width: var(--width-main-list);
}

.main-list ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: var(--width-main-list);
}

.main-list li {
  font-family: var(--font-fam-body);
  margin: 0 10px;
  padding: 0 2px;
  background-color: var(--color-background);
}

.main-list {
  margin: 12px;
}
