* {
  box-sizing: border-box;
  background: #333;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ddd;
  text-align: center;
}

p {
  padding: 10px;
}

h1 {
  font-size: x-large;
}

#main-screen {
  border: 2px gray solid;
  max-width: 450px;
  border-radius: 5px;
  margin: auto auto;
}

button {
  border-radius: 5px;
  background-color: whitesmoke;
  border: none;
  box-shadow: 0 3px 5px var(--color-button-shadow);
  width: 400px;
  font-size: 1rem;
  padding: 10px;
  margin: 10px auto;
  cursor: pointer;
}

svg#spiral-canvas {
  background: whitesmoke;
  margin: 20px;
  border-radius: 5px;
}

/* line.note-line {
  stroke-width: '0.5px';
  stroke-linecap: 'round';
  stroke: 'gray';
} */
