:root {
  --color-bg: whitesmoke;
  --color-bg-light: #666;
  --color-bg-dark: #333;
  --color-text-light: #ddd;
  --pad: 12px;
  --size-app-bar: 2.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--color-bg-dark);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text-light);
}

.app-bar {
  height: var(--size-app-bar);
  margin: var(--pad);
  display: flex;
  align-items: baseline;
  gap: var(--pad);
}

.app-bar img {
  height: var(--size-app-bar);
  background-color: var(--color-bg);
  border-radius: 4px;
}

.app-bar h1 {
  flex-shrink: 0;
}

.app-bar h5 {
  text-align: right;
  flex-grow: 1;
  align-self: flex-end;
  padding-bottom: 0.2rem;
}

h1 {
  font-size: 2.8rem;
  font-weight: lighter;
}

.button-box {
  padding: var(--pad);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.temperament-box {
  display: flex;
  gap: 2rem;
}

.selector-box {
  display: flex;
  flex-direction: column;
}

svg#spiral-canvas {
  background: var(--color-bg);
  margin: var(--pad);
  border-radius: 8px;
}
